<div class="{{ class }}">
  <ul class="{{ class_ul }}">{{ text|raw }}</ul>
  <div class="c-tab-content">
    <div class="container">
      <div class="tab-content">{{ tabs_content|raw }}</div>
    </div>
  </div>
</div>
