<div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-mobile-items="1" data-tablet-items="1" data-desktop-small-items="1" data-desktop-items="1">
  <div class="c-content-label c-font-uppercase c-font-bold">{{ label }}</div>
  <div class="owl-carousel owl-theme c-theme owl-single" data-auto-play="4000" data-items="1" data-items-desktop="false"  data-items-desktop-small="false"  data-items-tablet="false"  data-items-mobile="false"  >
    {{ text|raw }}
  </div>
</div>
